@model List<Rental>
@{
	ViewData["Title"] = "Rental Cars";
	bool searchPerformed = ViewData["SearchPerformed"] as bool? ?? false;
	string searchString = ViewData["SearchString"] as string;

}

<h2>Rental Cars</h2>
@if (Model.Any())
{
	<table class="table">
		<thead>
			<tr>
				<th>
					Rental Car ID
				</th>
				<th>
					Model Name
				</th>
				<th>
					Rental Company
				</th>
				<th>
					Action
				</th>

			</tr>
		</thead>
		<tbody>
			@foreach (var rentalCar in Model)
			{
				<tr>
					<td> @rentalCar.Id</td>
					<td> @rentalCar.ModelName</td>
					<td>@rentalCar.RentalProvider</td>
					<td>
						<a asp-action="Details" asp-route-id="@rentalCar.Id" class="btn btn-info">Details</a>
						<a asp-action="Delete" asp-route-id="@rentalCar.Id" class="btn btn-danger">Delete</a>
						
					</td>

				</tr>
			}
		</tbody>

	</table>






}
else
{
	if (searchPerformed)
	{
		<p>No Rental Car with "@searchString".</p>
	}
	else

	{
		<p>No rental cars available</p>
	}
}

<p class="nav-item">
	<a asp-area="" asp-controller="Rental" asp-action="Create" class="btn btn-primary">Create Rental Car</a>
</p>
