@model IEnumerable<WebApplication2.Models.ProjectTask>
@{
	ViewData["Title"] = "Task List";
}

<h2>@ViewData["Title"]</h2>
<table class="table">
	<thead>
		<tr>
			<th>Task ID</th>
			<th>Title</th>
			<th>Description</th>
			<th>Porject ID</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var task in Model)
		{
			<tr>
				<td>@task.ProjectTaskId</td>
				<td>@task.Title</td>
				<td>@task.Description</td>
				<td>@task.ProjectId</td>
				<td>
					<a asp-action="Details" asp-route-id="@task.ProjectTaskId" class="btn btn-info">Details</a>
					<a asp-action="Edit" asp-route-id="@task.ProjectTaskId" class="btn btn-secondary">Edit</a>
					<a asp-action="Delete" asp-route-id="@task.ProjectTaskId" class="btn btn-danger">Delete</a>

				</td>
			</tr>	
		
		}
	</tbody>
</table>

<a asp-action="Create" asp-route-projectId="@ViewBag.ProjectId" class="btn btn-primary">Create New Task</a>
<a asp-controller="Projects" asp-action="Index" class="btn btn-secondary">Back to Projects</a>